/* ------------------  variables.css  ----------------- */

:root {
    --black: #1c0b19;
    --gray: #888;
    --light-gray: #f1f1f1;
    --white-gray: #f8f8f8;
    --white-gray-background: #fefefe;
    --blue: #4d90fe;
    --green: #61e786;
    --red: #ed6a5e;
    --main-font: 'Open Sans', sans-serif;
}



/* ---------------------  main.css  ------------------- */

html {
    color: var(--black);
    box-sizing: border-box;
    font-family: var(--main-font);
    background: var(--white-gray-background);
}

*:not(h1),
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
}

footer {
    margin-top: 75px;
    padding: 25px 50px;
    text-align: left;
    color: var(--gray);
}

footer p {
    font-size: 16px;
    margin-bottom: 1em;
}

input {
    font-family: var(--main-font);
}

footer .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#run-tests {
    height: 30px;
    width: 100px;
}

footer small {
    float: right;
}

::-moz-focus-inner {
    padding: 0;
    border: 0
}

:invalid,
input:required:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
  outline: none;
}

::-ms-clear {
    display: none;
}



/* -----------------  placeholder.css  ---------------- */

[data-placeholder] {
    position: relative;
}

[data-placeholder]::after {
    content: attr(data-placeholder);
    position: absolute;
    color: var(--gray);
    font-size: 15px;
    top: 10px;
    right: 5px;
    letter-spacing: 1px;
    pointer-events: none;
}



/* -------------------  birth-date.css  ------------------ */

.birth-date {
    background: white;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 240px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .20),
                0 6px 6px rgba(0, 0, 0, .17);
}

.birth-date-input {
    display: inline;
    width: 230px;
    padding: 5px 10px;
    border: none;
    line-height: 2;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 15px;
    border-bottom: 1px solid var(--black);
    background: var(--light-gray);
}

.birth-date-input:focus {
    border-bottom: 1px solid var(--blue);
    background: var(--white-gray);
    outline: none;
}

.birth-date-input.valid,
.birth-date-input.valid:focus {
    border-bottom-color: var(--green);
}

.birth-date-input.invalid {
    border-bottom-color: var(--red);
}

.validation-message {
    font-size: 14px;
    font-style: italic;
    height: 14px;
}

.birth-date .continue {
    padding: 5px;
    width: 160px;
    height: 45px;
    align-self: center;
    background: var(--green);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, .05),
                0 5px 5px rgba(0, 0, 0, .02);
}

.birth-date .continue:hover,
.birth-date .continue:focus {
    transform: scale(1.05);
    box-shadow: 0 7px 14px rgba(0, 0, 0, .07),
                0 5px 5px rgba(0, 0, 0, .04);
    cursor: pointer;
}
